<div>
    <form id="restoreForm" action="">
        <label for="email">Email:</label>
        <input type="text" name="email" id="email">
        <label for="email">Contraseña:</label>
        <br>
        <input type="password" name="password" id="password">
        <button type="submit">Restaurar</button>
    </form>
</div>
<script src="/js/restore.js"></script>