<div>
    <h1>Vamos a trabajar con WEB Socket</h1>
    <br>
</div>

{{!-- Asi le decimos al cliente para que instancie el servidor socket, es el acuerdo de confidencialidad del lado del cliente: --}}
<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>