ul {
  list-style: none;
  margin: 10px 10%;
}

li {
  border: solid 1px black;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

p.meUser {
  color: green;
}

p.oterUser {
  color: red;
}

p {
  margin: 2px;
  color: grey;
}
